:root {
    --body-bg: #f7f7fc;
    --page-ind: 20px;
    --not-found-color: #777;
    --copy-bg: #fff;
    --block-ind: 2rem;
}

body {
    margin: 0;
    min-height: 100dvh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: sans-serif;
    background: var(--body-bg);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

.container {
    width: 100%;
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-ind);
    padding-right: var(--page-ind);
}

.main {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
}

.header {
    padding: 20px 0;
}

.footer {
    margin-bottom: 1rem;
}

.copy {
    display: flex;
    justify-content: center;
    padding: 1rem var(--block-ind);
    background: var(--copy-bg);
    border-radius: 1rem;
    text-align: center;
    font-size: 12px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.not-found {
    text-align: center;
    color: var(--not-found-color);
}

.title {
    margin-bottom: 1rem;
}
